
# Ignore internal git files.
# This isn't necessary for git but telescope.nvim uses .gitignore to filter files.
.git

# Ignore direnv environment files.
.direnv/

# Ignore nvim before.lua, which is environment-specific configuration.
base/.config/nvim/lua/custom/before.lua
