
# Ignore internal git files.
# This isn't necessary for git but telescope.nvim uses .gitignore to filter files.
.git

# Ignore tmux plugins. They are defined and installed from .tmux.conf.
base/.tmux/plugins
