* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#network.disconnected {
    background: #f53c3c;
}
