[Desktop Entry]
Version=1.0
Name=Reboot to Windows
Comment=Reboots the system into Windows
Exec=systemctl reboot --boot-loader-entry=auto-windows
Icon=system-restart
Terminal=false
Type=Application
Categories=System;
